* {
  box-sizing: border-box;
}

.shirt {
  width: 31%;
  float: left;
  margin: 0 1%;
}

.container {
  width: 100%;
  border: 2px solid #5CA4D7;
  position: relative;
  display: block;
}


.container footer{
  bottom: 0;
  width: 100%;

}
// .fa-repeat {
//   color:#5CA4D7;
//   border: 2px solid #5CA4D7;
// }
// .fa-repeat:hover {
//   color: #fff;
//   background-color: #5CA4D7;

// }
  nav {
  width: 100%;

}
nav::after{
  content:"";
  display: block;
  clear: both;
}
a:hover{
  background:#5CA4D7;
  color: #fff;
}


a {
  border-top: 2px solid #5CA4D7;
  border-right: 2px solid #5CA4D7;
  width: 20%;
  padding:5.1%;
  color: #5CA4D7;
  text-align: center;
  display: block;
  font-size: 26px;
  float: left;
  position: relative;
}

a:last-child{
  border-right: 0;

}
img {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  min-width: 200px;
  display:block;
}
.info {
  color: #5CA4D7;
  display: inline-block;
  font-size: 16px;

  }

p {
  float:left;
}

h2 {
  margin-top: 10px;
  padding-left: 140px;
  float:right;
  font-weight: normal;
}

.colors{
  width: 66px;
  height: 80px;
  border: 2px solid #5BA2D4;
  position: absolute;
  top: -80px;
  left: -2px;
  background-color: white;
  display: none;
}
a.color:hover{

  .colors{
    display:block;
  }
}

.color1{
  margin:0 auto;
  width: 16px;
  height: 16px;
  background-color: #5CA4D7;
  display: inline-block;
  float: none;
}

.color2{
  margin:0 auto;
  width: 16px;
  height: 16px;
  background-color: #DD90B6;
  display: inline-block;
  float: none;
}

.color3{
  margin:0 auto;
  width: 16px;
  height: 16px;
  background-color: #F8D069;
  display: inline-block;
  float: none;
}
.color3 {
  // content:"";
  // display:block;
  clear:both;
}

.color4{
  margin:0 auto;
  width: 16px;
  height: 16px;
  background-color: #B9B3F3;
  display: inline-block;
  float: none;

}

.sizes{
  width: 66px;
  height: 80px;
  border: 2px solid #5BA2D4;
  position: absolute;
  top: -80px;
  left: -2px;
  background-color: white;
  display: none;
}
.small{
  margin:0 auto;
  font-family: "helvetica";
  font-size: 12px;
  color: #5BA1D4;
  display: block;
  text-transform: uppercase;
  float: none;}

.medium{
  margin:0 auto;
  font-family: "helvetica";
  font-size: 12px;
  color: #5BA1D4;
  display: block;
  text-transform: uppercase;
  float: none;}
.large{
  margin:0 auto;
  font-family: "helvetica";
  font-size: 12px;
  color: #5BA1D4;
  display: block;
  text-transform: uppercase;
  float: none;
}
.extralarge {
  margin:0 auto;
  font-family: "helvetica";
  font-size: 12px;
  color: #5BA1D4;
  display: block;
  text-transform: uppercase;
  float: none;
}
.size:hover{
  .sizes{
    display: block;
  }
}
